{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">File Upload</h1>

{% include 'flash_messages.html' %}

{# Add the appropriate method and enctype attributes to the form tag to allow for file uploads #}
<form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}  <!-- CSRF token -->

  {# Add the file upload field as you learnt for Flask-WTF #}
  <div class="form-group">
    {{ form.photo.label }}<br>
    {{ form.photo(class="form-control") }}<br>
    {% if form.photo.errors %}
      <span style="color: red;">{{ form.photo.errors[0] }}</span>
    {% endif %}
  </div>

  <button type="submit" name="submit" class="btn btn-primary">Upload file</button>
</form>
{% endblock %}